@model WebApplication1.Models.LocationDescriptionViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="DestinationControllers" asp-action="Index">
    <p>
        <select asp-for="destinationDescription" asp-items="Model.description">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.destinations[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.destinations[0].VisitDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.destinations[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.destinations[0].ExcursionCost)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.destinations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcursionCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
